<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/account.css">

    <title>ACCOUNT</title>
</head>

<body>
    <div class="container">

        <div class="top">
            <img class="small-logo" src="../img/logo.svg">
            <a href="main.html" class="acc-button">Back</a>
        </div>

        <output for="email-out">email: </output>
        <output for="email-out">nick: </output>
        <output for="email-out">number of games saved: </output>
        <output for="email-out">date of account creation:  </output>
        <form class="delete-acc" action="delete-acc" method="POST">
            <button type="submit">DELETE YOUR ACCOUNT</button>
        </form>
    </div>
</body>
