<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>LOGIN PAGE</title>
</head>

<body>
<div class="container">

    <div class="logo-container">
        <div class="logo">
            <img src="../img/logo.svg">
        </div>
        <div class="logo-name">
            Game Support
        </div>
    </div>

    <div class="login-container">


        <form class="login" action="login" method="POST">
            <div class="messages">
                <?php
                        if(isset($messages)){
                            foreach($messages as $message) {
                                echo $message;
                            }
                        }
                    ?>
            </div>
            <div class="login-place">
                Login
            </div>
            <input name="email" type="text" placeholder="email@email.com">
            <input name="password" type="password" placeholder="password">
            <button type="submit">LOGIN</button>
        </form>
    </div>
</div>
</body>